vlan {{ vlan_id }}
  name CUST-{{ subnet }}
!
interface Vlan{{ vlan_id }}
  description S_CUST-VLAN{{ vlan_id }} Interface
  ip access-group INBOUND-FROM-CUST-NETWORKS in
  no shutdown
  no ip redirects
  ip address {{ subnet | ipaddr('SVI') }}/28
  no ipv6 redirects
  hsrp 0
   preemt
   priority {{ SVI is even | ternary('200','100') }}
   ip {{ subnet | ipaddr('1') }}r
